---
import Layout from "../layouts/Layout.astro";
---

<Layout title="hello there">
  <main>
    <section class="py-24 bg-gray-900 text-gray-50">
      <div class="container w-[90%] max-w-[1344px] mx-auto">
        <div class="w-full">
          <div class="hero-content--wrapper">
            <span class="text-pink-400 font-medium uppercase text-sm"></span>
            <h1
              class="text-indigo-400 font-bold leading-snug mb-8 text-4xl lg:text-7xl"
            >
              The is the about page
            </h1>
            <span class="text-xl">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusamus, reprehenderit!</span
            >
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
